body{
  background-color: #212121 !important;
  color: #fff !important;
}

.google-button {
    width: 99px;
    height: 33px;
    /* margin-top: 8px; */
    border-radius: 23px;
    border: none;
    background-color: rgb(14, 14, 215);
    color: #fff;
    font-size: 1.2rem;
  }

  .accout-show{
    font-size: 1.3rem;
    margin-right: 25px;
  }

  .book-task-text,
  .book-home-topic button {
    margin-top: 13px;
  }
  
  .book-task-text a {
    color: #000;
    font-size: 1.7rem;
    text-decoration: none;
  }

  .book-task-text a {
    color: #000;
    font-size: 1.7rem;
    text-decoration: none;
  }
  .creat button{
    border: none;
    background-color: #ffb600;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 23px;
  }
  .creat{
    font-size: 1.3rem;
  }
  .account-task {
    margin-left: 71%;
    display: block;
    max-width: 90%;
    margin-top: 32px;
    width: 23%;
    /* visibility: hidden; */
    display: none;
    border-radius: 23px;
    background-color: #f3f3f3;
    /* border: solid 0.1px #000; */
  }

  .account-set img {
    border-radius: 50%;
    margin-bottom: 19px;
    width: 50px;
    height: 50px;
  }
  
  .account-set {
    color: #000;
    border-radius: 23px;
    padding-left: 23px;
    position: absolute;
    padding-top: 27px;
    margin-left: 0px;
    border: 2px solid;
    padding-right: 57px;
    background: #f1f1f1;
  }
  
  .account-set p {
    font-size: 16px;
  }
  .log{
    margin-left: 61%;
  }

  .account-log {
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    background-color: red;
    width: 100%;
    margin-bottom: 23px;
  }

  .header{
    display: flex;
    color: #000;
    background-color: #e29300;
    padding-top: 10px;
    margin-left: 28px;
    padding-left: 25px;
    height: 54px;
    border-radius: 36px;
    margin-top: 14px;
    width: 96%;
    max-width: 100%;
  }

  .content{
    margin-top: 29px;
    margin-left: 35px;
  }

  .content h1{
    font-size: 2rem;
  }

  .content-sugg{
    margin-top: 23px;
  }

  .m{
    background-color: #f1f1f1;
    color: #000;
    margin-top: 23px;
    margin-left: 77px;
    padding-bottom: 23px;
    padding-top: 23px;
    padding-left: 23px;
    font-size: 1.1rem;
    width: 25%;

    border-radius: 23px;
  }

  .content h1{
    text-align: center;
  }

  .m p{
    font-weight: bold;
    font-size: 1.2rem;
  }
  .content-sugg{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    /* padding-top: 23px; */
    /* flex-wrap: wrap; */
  }

  .footer {
    margin-top: 23px;
    
  }

  nav {
    background-color: #757575;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  
  }
  
  nav li:hover ul {
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  nav li ul li {
    display: block;
    padding: 10px;
  }